.checkoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  .notifyContainer {
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 48px;
    }
    button {
      font-size: 32px;
      font-weight: 300;
      border: 1px solid grey;
      border-radius: 8px;
      padding: 8px 13px;
      cursor: pointer;
    }
  }
}
