.itemDetailContainer {
  padding: 100px;
  border-radius: 20px;
  .details {
    display: flex;
    justify-content: space-between;
    .detailsText {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 60%;
      .brandName {
        font-weight: normal;
      }
      .ratingContainer {
        display: flex;
        justify-content: flex-start;
        width: 82%;
      }
      .rating {
        font-size: 48px;
      }
      h2 {
        font-size: 42px;
        font-weight: 300;
      }
    }
  }
  img {
    border-radius: 5px;
  }
  .thumbnail {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
}
