.itemCard {
  box-shadow: 0px 9px 21px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  .discountContainer {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .itemTextContainer {
    padding-top: 20px;
    height: 150px;
    text-align: center;
    .priceContainer {
      display: flex;
      justify-content: center;
      padding-bottom: 15px;
      position: relative;
    }

    .firstPrice {
      font-size: 16px;
      margin-right: 10px;
      padding-bottom: 15px;
      color: grey;
    }
    h3 {
      font-size: 32px;
      font-weight: 300;
    }
    h4 {
      font-size: 24px;
    }
  }
  .cardButton {
    padding: 6px 12px;
    margin: 0 10px;
    background: rgb(255, 0, 189);
    background: linear-gradient(
      90deg,
      rgba(255, 0, 189, 1) 0%,
      rgba(244, 72, 72, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    transition: transform 0.3s;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
    &.card {
      color: black;
      background: rgb(199, 171, 191);
      background: linear-gradient(
        90deg,
        rgb(223, 186, 208) 0%,
        rgb(226, 115, 115) 100%,
        rgb(253, 11, 193) 100%
      );
    }
  }
  img {
    width: 250px;
    height: 250px;
  }
}
